/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/09/2019, 11:52:57 PM
    Author     : villa
*/


body{
max-width: 800px;
margin: auto;
font-family: 'Josefin Sans' ,  Times, serif , Arial;
background-color: #eaf5fc;
color: #2e5090;


}
/*Code to style header that applies to all pages*/
header{
position: relative;
border:1px solid;
border-radius: 20px;
padding: 20px;
max-width: 100%;
}


header, main, footer{
    width:100%;
    padding:10px;
    margin:10px 10px 10px 10px;
    border:1px solid;
    border-radius: 0 10px 10px 10px;
}
#welcome{
    
    margin: auto;
    padding: auto;
}
#menu ul {
    
    list-style:none;
    display:flex;
    width: 50%;
    height: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    
}

#intro{
    text-align: center;
}

figure{
    display: flex;
    margin:auto;;
    
}

figure img{
    margin: auto;
}
#menu  a {
    background-color: #2e5090;
    color: #dff3f8;
    border-style: solid;
    padding: 5px;
}

h1{
    font-size: 30px;
    padding: 10px 10px 20px 40px;
    margin:auto;
    text-align: center;
}

.cat {
    
    display:flex;    
    height: 100%;
    width:50%;
    padding: 5px;
    margin:auto;
    margin-bottom:10px;
    justify-content: space-around;
 
}



#timetable{
  	border-collapse: collapse; 	
	margin : auto ;
	background-color: white;
  	color: inherit;
}

 dl {
    border: 3px double #ccc;
    padding: 0.5em;
  }
  
  dt {
    float: left;
    width: 50px;
    font-weight: bold;
    
  }
  
  dd {
    margin: 0 40px 0 120px;
    padding: 0 0 0.5em 0;
  }

#timetable td, #timetable th {
  border: 1px solid #ddd;
  padding: 5px 5px 5px 5px;
  margin : auto;
  text-align: left;	
}

#timetable tr:nth-child(even){
	background-color: #c4c8cc;
	color:inherit;
}

.textInputs ul{
    
    
    list-style:none;
    width: 50%;
    height: 100%;
    margin: auto;
    
    
    
}

.textInputs li{
    
    padding:5px;
    margin: 5px;
}

.textInputs label{
	float:left;
	width: 100px;
	padding: 5px;

	
}

.textInputs button{
	padding:5px;
        margin-left: 150px;
}	
#checkout{
    
    margin-left: 45%;
    margin-top: 20px;
    text-align: center;
    
}
/**   Footer   **/
footer{
    margin-top: 20px;
    text-align: left;
    padding:10px;
}
