<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
                
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">

        
        <title>CART</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="ShoppingController as shopCtrl">
        <div ng-include="'menu.html'" ></div>
        <main>
        <h1>How many do you want to buy?</h1>
        
        <dl>
            <dt>ID:</dt><dd>{{shopCtrl.theSelectedProduct.productID}}</dd>
            <dt>Name:</dt><dd>{{shopCtrl.theSelectedProduct.productName}}</dd>
            <dt>Description:</dt><dd>{{shopCtrl.theSelectedProduct.productDescription}}</dd>
            <dt>Price:</dt><dd>${{shopCtrl.theSelectedProduct.priceList}}</dd>
            <dt>Quantity:</dt><dd>{{shopCtrl.theSelectedProduct.stockQuantity}}</dd>
        </dl>

        <form>
            <fieldset>
                <legend>Quantity to buy</legend>
                
                <label>How many</label>
                <input type="number" min="1" name="quantity" ng-model="quantity" required>
                
                <button ng-click="shopCtrl.addToCart(quantity)">Add to Cart</button>
            </fieldset>
                
        </form>
        </main>
     <footer>A project for INFO202 2019</footer>
        
    </body>
</html>
