<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
         <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">

        <title>Create Account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div ng-include="'menu.html'" ></div>
        <main>
            <h1>Please sign up to register</h1>
        <form ng-controller="CustomerController as custCtrl" ng-submit="custCtrl.registerCustomer(customer)">
        <fieldset class="textInputs">
            
			<legend >Account Details</legend>   
                        <ul>
                            <li><label for="firstname">First Name:</label>
                    <input type="text" ng-model="customer.firstname" required ></li>
                <li><label for="surname">Surname:</label>
                    <input type="text" ng-model="customer.surname"  required ></li>
                <li><label for="username">Username:</label>
                    <input type="text" ng-model="customer.username"  required ></li>
                <li><label for="password">Password:</label>
                    <input type="password" ng-model="customer.password"  required ></li>
                <li><label for="emailAd">Email:</label>
                    <input type="email" ng-model="customer.emailAddress"  required ></li>
                <li><label for="shippingAd">Shipping Address:</label>
                      <input type="text" ng-model="customer.shippingAddress" required ></li>
                <li><button type="submit">Create Account</button></li>

                        </ul>
		
		</fieldset>
        
        </form>
    </main>
     <footer>A project for INFO202 2019</footer>
    </body>
</html>
