<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" type="text/css" href="css/style.css">

    </head>
    <body>
        <header>
   <div id="menu" ng-controller="CustomerController as custCtrl" ng-init="custCtrl.checkSignIn()">
   <div id="welcome">{{custCtrl.welcome}}</div>
   <nav id="nav"> 
       <ul> 
   <li><a href="index.html">Home</a> </li>
           <li><a href="products.html" ng-if="custCtrl.signedIn">Browse Products</a></li>
   <li><a href="viewcart.html" ng-if="custCtrl.signedIn">View Cart</a></li>
   <li>
   <a href="#" ng-if="custCtrl.signedIn" ng-click="custCtrl.signOut()">Sign Out</a></li>
   <li><a href="signin.html" ng-if="!custCtrl.signedIn">Sign In</a></li></ul>
   </nav>
   </div>
        </header>     
       
    </body>
</html>
