<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
   <div id="menu" ng-controller="CustomerController as custCtrl" ng-init="custCtrl.checkSignIn()">
   <div id="welcome">{{custCtrl.welcome}}</div>
   <a href="index.html">Home</a>
   <a href="products.html" ng-if="custCtrl.signedIn">Browse Products</a>
   <a href="viewcart.html" ng-if="custCtrl.signedIn">View Cart</a>
   <a href="#" ng-if="custCtrl.signedIn" ng-click="custCtrl.signOut()">Sign Out</a>
   <a href="signin.html" ng-if="!custCtrl.signedIn">Sign In</a>

   </div>
        </header>     
       
    </body>
</html>
