<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
        <link rel="stylesheet" href="style.css">

        
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="ProductController as prodCtrl"  >
        <div ng-include="'menu.html'" ></div>
        <h1> Products </h1>
        
        <button ng-click="prodCtrl.allProducts()">All</button>
        
        <button ng-repeat="cat in prodCtrl.categories" ng-click="prodCtrl.selectCategory(cat)">{{cat}}</button>
        
        
        <div>
        <table>
            <thead>
                <tr>
                    
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Available</th>
                </tr>
            </thead>
            <tbody ng-controller="ShoppingController as shopCtrl">
                <tr ng-repeat="product in prodCtrl.products" >
                    <td>{{product.productName}}</td>
                    <td>{{product.productDescription}}</td>
                    <td>{{product.priceList}}</td>
                    <td>{{product.stockQuantity}}</td>
                    <td><button ng-click="shopCtrl.selectedProduct(product)">BUY</button></td>
                    
                    
                </tr>  
                
            </tbody>
            
        </table>
            </div>        
    </body>
    
</html>
