<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    
    <head>
        
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>     
        <link rel="stylesheet" type="text/css" href="css/style.css">

        
        <title>SignIn Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="CustomerController as custCtrl" >
        <div ng-include="'menu.html'" ></div>
        <main>
        <h1>Sign In</h1>
        <p>{{custCtrl.signInMessage}}</p>
        <form ng-submit="custCtrl.signIn(username, password)">
        <fieldset class="textInputs">
			<legend >Account Details</legend>   
                        <ul>
                <li><label for="username">Username:</label>
                    <input type="text" ng-model="username"  required ></li>
                <li><label for="password">Password:</label>
                    <input type="password" ng-model="password"  required ></li>
                <li><button type="submit">Sign In</button></li>

                        </ul>
		
		</fieldset>
        
        </form>
        
        
        <p>If you don't have an account, you can <a href="createAccount.html">create one.</a></p>        
    </main>
    <footer>A project for INFO202 2019</footer>    
    </body>
</html>
