<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        
                
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>         
        <link rel="stylesheet" href="css/style.css">

        
        <title>View Cart</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="ShoppingController as shopCtrl">
        <div ng-include="'menu.html'" ></div>
        <h1>Shopping Cart</h1>       
        
        <table>
            <thead>
                <tr>
                    
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
                <tr ng-repeat="item in shopCtrl.items" >
                    <td>{{item.product.productName}}</td>
                    <td>{{item.salePrice}}</td>
                    <td>{{item.purchaseQuantity}}</td>
                    <td>{{item.getItemTotal()}}</td>
                    
                    
                </tr>  
                
                <tr>
                    <td colspan="3">Total Cost</td>
                    <td>{{shopCtrl.total}}</td>
                    
                </tr>
                
                
            </tbody>
            
        </table>
        
        <button ng-click="shopCtrl.checkOut()">CheckOut Cart</button>
        
        <div>
            {{shopCtrl.message}}
        </div>
                    
    </body>
</html>
